.backdrop-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
}
.wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  padding: 0 20px;
}
.checkbox {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  color: #c5ecfd;
  font-size: 14px;
  text-align: center;
}
.checkbox input {
  width: 1em;
  height: 1.1em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.checkbox input:checked {
  background-color: gray;
}
.content-form {
  max-width: 600px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 5px;
  flex-direction: row;
  display: flex;
  box-shadow: 0 0 10px;
}
.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
.input-fields .input {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}
::-webkit-input-placeholder {
  color: #c5ecfd;
}
::-moz-input-placeholder {
  color: #c5ecfd;
}
::-ms-input-placeholder {
  color: #c5ecfd;
}
Button {
  background: #39b7dd;
  text-align: center;
  margin-left: 30%;
  padding: 15px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.input-fields img {
  width: 100px;
  margin-left: 70px;
  height: auto;
  margin-bottom: 20px;
}
.Modal {
  border: 1px inset black;
  font-size: 30px;
  position: absolute;
  font-size: 12px;
  background-color: rgb(34, 34, 34);
  width: 200px;
  padding: 30px;
  border-radius: 5px;
  top: 42%;
  color: #fff;
  left: 45px;
}
.Modal Button{
  width: 35%;
  height: 12%;
  font-size: 9px;
  text-transform:uppercase; 
  cursor: pointer;
  margin-top: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  }
.Modal label {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  margin: 20px;
}
.close {
  position: absolute;
  margin-left: 75%;
  height: 5%;
  width: 5%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .Modal label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  text-align: center;
 } 
