.result-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

.hr {
  width: 95%;
  height: 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #009688;
}

.result-text {
  display: flex;
  flex-direction: column;
}

.p-result-page {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5%;
  margin-bottom: 0;
  font-size: 2.5em;
}

.p-result-page2 {
  position: relative;
  left: 5%;
  font-size: 2em;
  margin-top: 1%;
  margin-bottom: 0.5%;
  color: #009688;
}
